[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "src/LIMO-Velo"]
	path = src/LIMO-Velo
	url = https://github.com/Huguet57/LIMO-Velo
