<?xml version="1.0" ?>
<launch>
    <arg name="serial_port" default="/dev/ttyACM0" />
    <arg name="baud" default="57600" />
    <arg name="twist_topic" default="/cmd_vel" />
    <arg name="packet_topic" default="/serial_packet" />
    <node pkg="serial_packet" type="packet_node.py" name="packet_node">
        <param name="twist_topic" type="string" value="$(arg twist_topic)" />
        <param name="packet_topic" type="string" value="$(arg packet_topic)" />
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="teensy_node">
        <param name="port" type="string" value="$(arg serial_port)" />
        <param name="baud" type="int" value="$(arg baud)" />
    </node>
    <node
    pkg="teleop_twist_keyboard"
    type="teleop_twist_keyboard.py"
    name="teleop_node"
  />
</launch>
